li{
    list-style: none;
    display: inline;
    padding: 1em;
    margin:5%;
    font-size: 1.2em;
    font-weight: bold;
    color:white;
}

body{
    background-color: rgb(155, 152, 152);
}

#home{
    background-color: rgb(240, 240, 240);
    margin-top:1em;
    padding: 1em;
    border-radius: 5px;
    display:flex;
}

#imageDiv{
    
    margin:10px;
    width:30em;
    height: 20em;
}

#homeContent p{
    margin-left: 10px;
    font-size: 20px;
}



#education {
    background-color: rgb(240, 240, 240);
    margin-top:1em;
    padding: 1em;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
}



#schoolCard{
    width: 45%;
    align-content: center;
    padding: 20px;
    background-color: rgb(49, 42, 42);
    border-radius: 20px;
    margin-right: 10px;
    height:18em;
}
#collegeCard{
    width: 45%;
    align-content: center;
    padding: 20px;
    background-color: rgb(49, 42, 42);
    border-radius: 20px;
    margin-right: 10px;
    height:18em;
}

#schoolCard:hover{
    width: 50%;
    align-content: center;
    padding: 1px;
    background-color: rgb(105, 90, 90);
    border-radius: 20px;
    margin-right: 10px;
    padding-top:10px;
    height:20em;
}
#collegeCard:hover{
    width: 50%;
    align-content: center;
    padding: 1px;
    background-color: rgb(105, 90, 90);
    border-radius: 20px;
    margin-right: 10px;
    padding-top:10px;
    height:20em;
}


#education p{
    color:white;
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
    font-size: 20px;
}

#skills{
    background-color: rgb(240, 240, 240);
    margin-top:1em;
    padding: 1em;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
}



#skills div{
    text-align: center;
    margin: 10px;
    padding:10px;
    background-color: rgb(49,42,42);
    width: 45%;
    border-radius: 20px;
    
    
}

#skills div h2{
    color: white;
    font-weight: bold;
}



#skills div:hover{
    text-align: center;
    margin: 0px;
    padding:10px;
    background-color:  rgb(105, 90, 90);
    width: 50%;
    border-radius: 20px;
    
    
}
div#hi{
    all:unset;
    width:100%;
    text-align: center;
}
div#hi:hover{
    
    all:unset;
    width:100%;
    text-align: center;
}



#achievements{
    background-color: rgb(240, 240, 240);
    margin-top:1em;
    padding: 1em;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
}

#achievements div{
    text-align: center;
    margin: 10px;
    padding:10px;
    background-color: rgb(49,42,42);
    width: 45%;
    border-radius: 20px;
    
    
}

#achievements div h2{
    color: white;
    font-weight: bold;
}



#achievements div:hover{
    text-align: center;
    margin: 0px;
    padding:10px;
    background-color:  rgb(105, 90, 90);
    width: 50%;
    border-radius: 20px;
    
    
}
div#hello{
    all:unset;
    width:100%;
    text-align: center;
}
div#hello:hover{
    
    all:unset;
    width:100%;
    text-align: center;
}

#contactMe  {
    background-color: rgb(240, 240, 240);
    margin-top:1em;
    padding: 1em;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
}


a{
    text-decoration: none;
}
